<!DOCTYPE html>
<html>
    <head>
        <title>Do not come near me, we can't be friends</title>
    </head>
    <body>
        <h1>We can't be friends!</h1>
        <img src="https://media.giphy.com/media/wt2DNYRmNApd6/giphy.gif">
        <p>Sorry, we can't be friends.</p>
    </body>
</html>