<!DOCTYPE html>
<html>
    <head>
        <title>Maybe we could be friends...</title>
    </head>
    <body>
        <h1>Maybe we're friends</h1>
        <img src="https://media.giphy.com/media/148mZ6HjOfNHc4/giphy.gif">
        <p>I guess we can become friends.</p>
    </body>
</html>